.FormWrap {
    background: lightgray;
    border-bottom: 1px solid brown;
    display: flex;
    justify-content: center;
    padding: 13px;
    width: 100%;
    height: 5%;
}

.input {
    border: 1px solid brown;
    margin-left: 3px;
}

.errorForm {
    color: red;
}

.Btn {
    background: antiquewhite;
    border: 1px solid brown;
    margin-left: 3px;
    cursor: pointer;

}